.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  font-size: 14px;
  color: #262626;
}

.navBarMenu {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.main-heading {
  color: rgb(204, 18, 18);
  font-size: 20px;
}

.underline {
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.mission-div {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 10px;
}

.navBar, .navList {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  list-style: none;
  margin: 20px;
}

.container-fluid {
    justify-content: space-between;
    align-items: space-between;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 25px;
  margin: 25px;
}

.products {
  padding: 10px;
  margin: 10px;
}

.section {
  margin: 25px;
  padding: 25px;
}

.footer a {
  color: #fff;
  text-decoration: none
}

.footer a:hover {
  color: #808080;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
